    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <!--<div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br/><br/>
                <h2>About Scientist Association at Mac</h2>
                <br/>    
      				  <p>
      				  SAM is the communication platform for Science graduate students at McMaster. 
      				  </p>
      				  <p>
      				  We connect you to: Fellow science grads in different departments, Administration (GSA, CUPE, dean, etc), Alumni and industry partners through fun socials, workshops and networking events.
      				  </p>
            </div>
        </div>
        -->
        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <br>
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                 <p>
                 Science Faculty is the most diverse faculty at McMaster University; </p>
                 <p>7 departments covering everything from music cognition to theoretical physics. A group of us saw this diversity and lack of communication platforms between programs. We also saw great opportunities in bringing scientists from diverse fields together to make a difference in graduate student life at McMaster. </p>
                <p>Do you want to know what’s happening in other science departments at the opposite side of the campus? </p>
                <p>Do you want to see more options for your scientific career opportunities? </p>
                <p> <a target="" href="jotform.html"> Come join us! </a> </p>
                </p>
            </div>
        </div>
    </section>
