<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                        <li>
                        <a class="page-scroll" href="index.html">About</a>
                    </li>            
                    <li>
                        <a class="page-scroll" href="events.html">Events</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="showcase.html">Science at Mac</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="apartments.html">Gallery</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="fineprints.html">Our Documents</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="portfolio.html">Members</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="jotform.html">Contact Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Keep In Touch</a>
                    </li> 
                </ul>
                <p class="copyright text-muted small">Copyright &copy; {{ site.title }} All Rights Reserved</p>
            </div>
            <div class="col-md-4">
                Credits: Landing Page is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com/">Start Bootstrap</a>.
            </div>
        </div>
    </div>
</footer>
