<section id="events">

    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Events</h2>
                    <p class="lead">Have you found yourself walking down a hallway saying "Who was that?"

                    <p>SAM helps us all connect with each other through fun social events that are full of opportunities to meet science grads of own&other departments, alumni and potential employers in industry. </p>
                    
                    <p>You will be invited to all events; fun social at the Phoenix, wine & cheese with alumni, to name a few. You will be surprised how much opportunities you have as a Science grad at McMaster.</p>

                    <p><a target="" href="events.html">...our next event here, step OUT....</a></p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/sc_social_3_1024.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

</section>

<section id="apartments">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Science at Mac<br>8 departments & 3 programs</h2>
                    <p class="lead">Discover the diversity and depth of research and people in the Science Faculty! 
                    </p>
                    <p>If you would like us to showcase your research, let us know via <a target="" href="jotform.html">Contact us</a> or directly by e-mail (samexec@scientistassociation.com).</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/sc_social_3_1024.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
</section>
