<section id="about">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About Us</h2>
                    <p class="lead">It's Nice to Meet You!
                    </p>
                     <p>
                 Science Faculty is the most diverse faculty at McMaster University; </p>
                 <p>8 departments covering everything from music cognition to theoretical physics. A group of us saw this diversity and lack of communication platforms between programs. We also saw great opportunities in bringing scientists from diverse fields together to make a difference in graduate student life at McMaster. </p>
                <p>Do you want to know what’s happening in other science departments at the opposite side of the campus? </p>
                <p>Do you want to see more options for your scientific career opportunities? </p>
                <p> <a target="" href="jotform.html"> Come join us! </a> </p>
                </div>
                <div class="col-lg-6 col-sm-pull-6  col-sm-6">
                <br>
                    <a href="apartments.html">
                    <img class="img-responsive" src="img/samstructure.png" alt="">
                    </a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
</section>
<section id="events">

    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Events</h2>
                    <p class="lead">Have you found yourself walking down a hallway saying "Who was that?"
                    </p>

                    <p>SAM helps us all connect with each other through fun social events that are full of opportunities to meet science grads of own&other departments, alumni and potential employers in industry. </p>
                    
                    <p>You will be invited to all events; fun social at the Phoenix, wine & cheese with alumni, to name a few. You will be surprised how much opportunities you have as a Science grad at McMaster.</p>

                    <p>Check our next event <a target="" href="events.html">here</a>, step out and have fun socializing!</p>

                    <p> Register our current event! The eventbrite link is: <a href="http://sam-labcoatsocial-2015.eventbrite.ca"> http://sam-labcoatsocial-2015.eventbrite.ca </a> </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <a target="" href="img/Poster_labcoat.png">
                    <img class="img-responsive" src="img/Poster_labcoat.png" alt=""></a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

</section>

<section id="apartments">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Science at Mac<br>8 departments & 3 programs</h2>
                    <p class="lead">Discover the diversity and depth of research and people in the Science Faculty! 
                    </p>

                    <a target="" href="showcase.html">
                    <h3 class="text-primary">
                         Aimee Battcock
                    </h3> </a>

                    <p>If you would like us to showcase your research, let us know via <a target="" href="jotform.html">Contact us</a> or directly by e-mail (samexec@scientistassociation.com).</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <a target="" href="showcase.html">
                    <img class="img-responsive" src="img/Aimee.jpg" alt=""></a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
</section>
